<header class="shadow-sm">
  <div class="">
    <!-- <div class="d-flex flex-wrap align-items-center justify-content-start"> -->
    <div class="d-flex justify-content-between">
      <div class="d-flex">
        <a href="/">
          <img src="assets/todo_logo_outline.svg" alt="" height="40px">
        </a>
        <ul class="nav justify-content-center" *ngIf="isLogin">
          <li><a href="#" class="nav-link text-secondary">Home</a></li>
        </ul>
      </div>


      <div class="dropdown" dropdown>
        <button id="button-alignment" dropdownToggle type="button"
          class="btn p-0 border-0 user-icon" aria-controls="dropdown-basic">
          <div class="user-icon">
            <ng-container *ngIf="userImageUrl; else defaultIcon">
              <img [src]="userImageUrl" alt="">
            </ng-container>
          </div>
          <span class="caret"></span>
        </button>
        <ul id="dropdown-alignment" *dropdownMenu
          class="dropdown-menu dropdown-menu-right" role="menu"
          aria-labelledby="button-alignment">
          <li role="menuitem">
            <div class="dropdown-item" (click)="onClickUser()">
              ユーザー管理
            </div>
          </li>
          <li role="menuitem">
            <div class="dropdown-item">
              グループ管理
            </div>
          </li>
          <li role="menuitem">
            <div class="dropdown-item">
              ワークスペース管理
            </div>
          </li>
          <li class="divider dropdown-divider"></li>
          <li role="menuitem">
            <div class="dropdown-item" (click)="logOut()">
              ログアウト
            </div>
          </li>
        </ul>
      </div>


    </div>
  </div>
</header>


<ng-template #defaultIcon>
  <div class="default-icon">
    <i class="bi bi-person-fill"></i>
  </div>
</ng-template>