:host {
  header {
    padding: 1rem;
    border-bottom: 1px solid var(--gray-400);
    background-color: var(--white);
  }
}

.user-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--gray-100);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .default-icon {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
      font-size: 50px;
      color: var(--gray-400);
    }
  }
}

.dropdown-item {
  cursor: pointer;
}
