@import 'bootstrap/scss/bootstrap';

:host {
  header {
    padding: 1rem;
    border-bottom: 1px solid $gray-400;
    background-color: $white;

    .header__content {
      display: flex;
      align-items: center;
      justify-content: start;

      .header__nav-ul {
        justify-content: center;
        margin-inline-end: auto;
      }
    }
  }
}
