@use 'styles/page';

:host {
  @include page.read-page();

  .login__form-container {
    padding-inline: var(--spacing-xl);
    padding-block: var(--spacing-lg);
    border: 1px solid var(--gray-400);
    background-color: var(--white);

    .login__input-wrapper {
      margin-bottom: var(--spacing-lg);
    }

    .login__button-wrapper {
      margin-top: var(--spacing-lg);
    }

    .login__footer {
      margin-top: var(--spacing-lg);
    }
  }
}
