@use 'styles/page';

@import 'bootstrap/scss/bootstrap';

:host {
  @include page.read-page();

  .signup__container {
    border: 1px solid $gray-400;
    background-color: $white;

    .signup__return-btn {
      margin-top: 0.2rem;
      margin-left: 0.2rem;
    }

    .signup__form-container {
      padding: 0rem 3rem 2rem 3rem;

      .signup__title-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;

        .signup__title {
          font-weight: $font-weight-medium;
        }
      }

      .signup__input-wrapper {
        margin-bottom: 1.5rem;

        .danger {
          color: $danger !important;
        }
      }

      .signup__button-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2.5rem;

        button {
          margin-right: 2rem;
        }
      }

      .signup__footer {
        text-align: center;
        margin-top: 2rem;
      }
    }
  }
}
