@use 'styles/page';

:host {
  @include page.read-page();

  .signup__container {
    border: 1px solid var(--gray-400);
    background-color: var(--white);

    .signup__return-btn {
      margin-top: 0.2rem;
      margin-left: 0.2rem;
    }

    .signup__form-container {
      // padding: 0rem 3rem 2rem 3rem;
      padding-inline: var(--spacing-2xl);
      padding-bottom: var(--spacing-lg);

      .signup__input-wrapper {
        margin-bottom: var(--spacing-lg);
      }
    }
  }
}
