:root {
  --white: #ffffff;
  --black: #000000;

  --primary-main: #0017c1;
  --primary-50: #e8f1fe;
  --primary-100: #d9e6ff;
  --primary-200: #c5d7fb;
  --primary-300: #9db7f9;
  --primary-400: #7096f8;
  --primary-500: #4979f5;
  --primary-600: #3460fb;
  --primary-700: #264af4;
  --primary-800: #0031d8;
  --primary-900: #0017c1;
  --primary-1000: #00118f;
  --primary-1100: #000071;
  --primary-1200: #000060;

  --gray-50: #f2f2f2;
  --gray-100: #e6e6e6;
  --gray-200: #cccccc;
  --gray-300: #b3b3b3;
  --gray-400: #999999;
  --gray-420: #949494;
  --gray-500: #7f7f7f;
  --gray-536: #767676;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1a1a1a;

  --green-50: #e6f5ec;
  --green-100: #c2e5d1;
  --green-200: #9bd4b5;
  --green-300: #71c598;
  --green-400: #51b883;
  --green-500: #2cac6e;
  --green-600: #259d63;
  --green-700: #1d8b56;
  --green-800: #197a4b;
  --green-900: #115a36;
  --green-1000: #0c472a;
  --green-1100: #08351f;
  --green-1200: #032213;

  --red-danger: #dc3545;
  --red-50: #fdeeee;
  --red-100: #ffdada;
  --red-200: #ffbbbb;
  --red-300: #ff9696;
  --red-400: #ff7171;
  --red-500: #ff5454;
  --red-600: #fe3939;
  --red-700: #fa0000;
  --red-800: #ec0000;
  --red-900: #ce0000;
  --red-1000: #a90000;
  --red-1100: #850000;
  --red-1200: #620000;
}
