.danger {
  color: var(--red-danger);
}

select:not(.is-invalid) {
  border-color: var(--gray-300);
}

input:not(.is-invalid) {
  border-color: var(--gray-300);
}

.input-group-text {
  border-color: var(--gray-300);
}
