@mixin read-page() {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-self: center;
  width: 100%;
  max-width: 80ch;
  padding: 2rem;
}

@mixin main-page() {
  padding-block-start: 2rem;
}
