@mixin typography() {
  h1 {
    font-size: 36px;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: 0.04em;
  }

  h2 {
    font-size: 32px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0.04em;
  }
  h3 {
    font-size: 28px;
    font-weight: 600;
    line-height: 1.45;
    letter-spacing: 0.04em;
  }
  h4 {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: 0.04em;
  }
  h5 {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: 0.04em;
  }
}
// $headings-color: red;
// $headings-font-weight: 600;
// $h1-font-size: 36px;
