@import 'bootstrap/scss/bootstrap';

:host {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  min-height: 100vh;
  margin-inline: auto;

  .app__main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-color: $gray-100;

    .app__page-container {
      display: grid;
    }
  }
}
