.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9999;
}

.loading-size-lg {
  width: 4rem;
  height: 4rem;
}

.loading-size-md {
  width: 2rem;
  height: 2rem;
}

.loading-size-sm {
  width: 1rem;
  height: 1rem;
}
